.nav-wrapper{
    width: 275px;
    border-right: 1px solid hsl(0, 0%, 84%);
}

h4{
    font-family: Montserrat;
    font-weight: bold;
}

ul > li{
    font-family: Maven Pro;
    font-weight: regular;
}